.container  {
    font-family: 'Open Sans', sans-serif;
}
#logo  {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
}
.subpages  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
    font-size: x-large;
    margin-top: -50px;
    margin-right: 100px;
}
.header-extension  {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subscription  {
    flex-direction: column;
    margin-top: 100px;
    font-size: xx-large;
}
#nice-image  {
    flex-direction: row;
}
.cooking-ideas  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#breakfast  {
    margin-top: 50px;
    margin-left: 100px;
    border: solid 2px grey;
    border-radius: 15px;
}
input  {
    border-radius: 15px;
    border: 2px solid gray;
    padding: 20px; 
    width: 200px;
    height: 15px;    
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}
 button {
    background-color:#fd942d;
    color: #fff;
    border: none;
    border-radius:15px; 
    padding:15px;
    height: 50px;
    min-width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
  }